
<br>
<div class="container">
  <button class="btn btn-success" type="button" routerLink="/pets/add">New pet</button>
</div>
<br>
<div class="container" style="display: flex;">
  <br>
  <div class="card" style="width: 18rem; margin-right: 15px;" *ngFor="let pet of pets; let item=index">
    <div class="card-header">
      {{pet.type}}
    </div>
    <img class="card-img-top" src="https://ca-times.brightspotcdn.com/dims4/default/2d72a57/2147483647/strip/true/crop/2048x1363+0+0/resize/840x559!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Faa%2F0d%2F824acfd8d0b54956858cd7045915%2Fla-es-los-perros-son-capaces-de-sentir-amor-20-001" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{item+1}}: {{pet.name}} | {{pet.breed}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Pet Number: {{pet.petNumber}}</h6>
      <p class="card-text">{{pet.description}}</p>

      <a href="#" class="btn btn-danger">Eliminar</a>
      <!--queryParams para el pasaje de datos a otro componente-->
      <a href="#" class="btn btn-primary" style="margin-left: 10px;" routerLink="/pets/update" [queryParams]="{petId: pet.id}">Edit</a>
    </div>
    <div class="card-footer">
     Date of birth:  {{pet.dateOfBirth}}
    </div>
  </div>
</div>

 