
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item"><a href="" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/pets" class="nav-link">Pets</a></li>
    <li class="nav-item"><a href="/owners" class="nav-link">Owners</a></li>
    <li class="nav-item"><a href="/vaccine" class="nav-link">Vaccine</a></li>
    <li class="nav-item"><a href="/users" class="nav-link">Users</a></li>
  </ul>
</nav>
<br>
<h1 style="text-align: center;">Consume API REST de PetFy</h1>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
