<app-navbar></app-navbar>
<br>
<h1 style="text-align: center;">Consume API REST de PetFy</h1>
<br>
<div class="container">
  <router-outlet></router-outlet>

  <div class="container">
    <div class="row">
      <h3>Lista de users</h3>
      <div class="col-12">
        <table class="table table-hover table-bordered caption-top">
          <thead >
            <tr>
              <th scope="col">Index</th>
              <th scope="col">Username</th>
              <th scope="col">Password Hash</th>
              <th scope="col">Password Salt</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let item=index">
              <th scope="row">{{item+1}}</th>
              <td>{{user.userName}}</td>
              <td>{{user.passwordHash}}</td>
              <td>{{user.passwordSalt}}</td>
            </tr>   
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
