<div class="container">
    <form (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Username" formControlName="username">
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary form-control" type="submit">Sign in</button>
        <a class="w-100 btn btn-lg btn-link form-control">Register</a>
    </form>
</div>