<br>
<div class="container">
    <form (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm" class="login-form">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <input type="text" class="form-control"  placeholder="Username" formControlName="username">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary form-control" type="submit">Sign in</button>
        <a class="w-100 btn btn-lg btn-link form-control" routerLink="/register">Register</a>
    </form>
</div>